{% block indicators %}
<h3 class="main-indicators-scores">Main Indications</h3>

<div class="scores-and-values">
    <div class="indicators-scores">
        <div class="macroeconomics">
            <h3 class="modal-titles">Macroeconomics Scores</h3>
            <div class="macroeconomics-data">
                <p id="countryDetails_1"></p>
                <p id="countryDetails_2"></p>
                <p id="countryDetails_3"></p>
                <p id="countryDetails_4"></p>
                <p id="countryDetails_5"></p>
                <p id="countryDetails_6">Live API</p>
                <p id="countryDetails_7">Live API</p>
                <p id="countryDetails_8">Live API</p>
            </div>
        </div>
        <div class="second-column">
            <div class="intermodal-shipping">
                <h3 class="modal-titles">Intermodal Shipping Scores</h3>
                <div class="intermodal-shipping-data">
                    <p id="countryDetails_9"></p>
                    <p id="countryDetails_10"></p>
                    <p id="countryDetails_11"></p>
                </div>
            </div>
            <div class="politics">
                <h3 class="modal-titles-politics">Politics Scores</h3>
                <div class="politics-data">
                    <p id="countryDetails_12"></p>
                    <p id="countryDetails_13"></p>
                    <p id="countryDetails_14"></p>
                    <p id="countryDetails_15"></p>
                    <p id="countryDetails_16"></p>
                    <p id="countryDetails_17"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="indicators-scores">
        <div class="macroeconomics">
            <h3 class="modal-titles">Macroeconomics Values</h3>
            <div class="macroeconomics-data">
                <p id="countryDetails_1_v"></p>
                <p id="countryDetails_2_v"></p>
                <p id="countryDetails_3_v"></p>
                <p id="countryDetails_4_v"></p>
                <p id="countryDetails_5_v"></p>
                <p id="countryDetails_6_v">Live API</p>
                <p id="countryDetails_7_v">Live API</p>
                <p id="countryDetails_8_v">Live API</p>
            </div>
        </div>
        <div class="second-column">
            <div class="intermodal-shipping">
                <h3 class="modal-titles">Intermodal Shipping Values</h3>
                <div class="intermodal-shipping-data">
                    <p id="countryDetails_9_v"></p>
                    <p id="countryDetails_10_v"></p>
                    <p id="countryDetails_11_v"></p>
                </div>
            </div>
            <div class="politics">
                <h3 class="modal-titles-politics">Politics Values</h3>
                <div class="politics-data">
                    <p id="countryDetails_12_v"></p>
                    <p id="countryDetails_13_v"></p>
                    <p id="countryDetails_14_v"></p>
                    <p id="countryDetails_15_v"></p>
                    <p id="countryDetails_16_v"></p>
                    <p id="countryDetails_17_v"></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
