{% extends "base.html" %}

{% block title %} Register {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register-style.css') }}">
{% endblock %}

{% block content %}
<section>
    <div class="container">
      
      <div class="alert alert-warning text-center my-4">
        Your data is only used for the purpose of providing a better experience for you; it is not used outside of this website. 
      </div>
      
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-8 col-xl-6">
          <div class="row">
            <div class="col text-center">
              <h1>Register</h1>
              <br>
              <p class="text-h3">We have more than 200 reports to satisfy your business needs, and all of them will help you grow. <br><br>You're only one step ahead from placing your foot in the first step towards informed business expansion.</p>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col mt-4">
              <input type="text" class="form-control" placeholder="Company Name">
            </div>
          </div>
          <div class="row align-items-center mt-4">
            <div class="col">
              <input type="email" class="form-control" placeholder="Email">
            </div>
          </div>
          <div class="row align-items-center mt-4">
            <div class="col">
              <input type="password" class="form-control" placeholder="Password">
            </div>
            <div class="col">
              <input type="password" class="form-control" placeholder="Confirm Password">
            </div>
          </div>
          <div class="row justify-content-start mt-4">
            <div class="col">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input">
                  I Read and Accept <a href="{{ url_for('terms_and_conditions') }}">Terms and Conditions</a>
                </label>
              </div>

              <button class="btn btn-primary mt-4">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}