{% extends "base.html" %}

{% block title %} Terms And Conditions {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/terms-and-conditions-style.css') }}">
{% endblock %}

{% block content %}
<h1>Terms and Conditions</h1>
<hr/>
<div class="terms-and-conditions">

    <h2>1. General Information</h2>
    <p>Welcome to thesuppliesmap.com. By accessing and using this website, you agree to comply with and be bound by the following terms and conditions. If you do not agree with any part of these terms and conditions, please do not use our website.</p>
    
    <h2>2. Website Usage</h2>
    <h3>User Accounts</h3>
    <p>Users are required to create an account to access the discussion forms in the website, as well as the live statistics. Personal accounts must not be shared with others. Users found violating these rules will be banned.</p>
    
    <h3>User Conduct</h3>
    <p>Users must not engage in prohibited behaviors, including spamming, harassment, and misuse of contact forms or information. Additionally, any use of discriminatory/offensive language is strictly forbidden. Accounts found in violation will be banned.</p>
    
    <h3>Content Submission</h3>
    <p>Content submission (e.g., comments, reviews) are available in the suppliesmap.com. Specifically, users will be able to discuss the latest economics, politics, logistics, and manufacturing news in region-specific chats.</p>
    
    <h3>Age Restrictions</h3>
    <p>There are no age restrictions for using this website for guest users. For registered users, a minimum age of thirteen years old is required.</p>
    
    <h2>3. Privacy and Data Protection</h2>
    <h3>Data Collection</h3>
    <p>We collect the following personal data from users: email addresses, passwords, company names (for "Business Pro" accounts), and location data for advertisement purposes.</p>
    
    <h3>Data Usage</h3>
    <p>Collected data is used solely for the functioning of the website and will not be shared outside the website, except for geolocation data used for advertisement purposes.</p>
    
    <h3>Third-Party Sharing</h3>
    <p>User data shared with third parties is limited to geolocation data for advertisement purposes. All other data remains within the website and is used exclusively for its operation.</p>
    
    <h2>4. Intellectual Property</h2>
    <h3>Content Ownership</h3>
    <p>The website was designed, programmed, and is published by Gonzalo Carpio-Rivero.</p>
    
    <h3>Copyright Infringement</h3>
    <p>Any discovered copyright infringement will result in the removal of the infringing content. Legal action may be taken against parties found guilty of copyright infringement.</p>
    
    <h2>5. Limitation of Liability</h2>
    <h3>Liability Disclaimer</h3>
    <p>While we strive to keep the website live and available 24/7, we do not guarantee uninterrupted access and will not be liable for any downtime or accessibility issues.</p>
    
    <h2>6. Modifications and Termination</h2>
    <h3>Terms Changes</h3>
    <p>We reserve the right to change these terms and conditions at any time. Users will be notified of changes via email.</p>
    
    <h3>Termination of Access</h3>
    <p>We may terminate a user’s access to the website if they are found guilty of violating any rules listed under User Conduct.</p>
    
    <h2>7. Dispute Resolution</h2>
    <h3>Governing Law</h3>
    <p>These terms and conditions are governed by the laws of Peru.</p>
    
    <h3>Dispute Resolution</h3>
    <p>Disputes will be resolved through arbitration. If necessary, unresolved disputes will be settled in court.</p>
    
    <h2>8. Contact Information</h2>
    <h3>Support</h3>
    <p>For support or questions regarding these terms, users can contact us via the email address listed in the website’s footer: gcarpiorivero@gmail.com.</p>
    
    <h2>10. Additional Clauses</h2>
    <p>There are no additional clauses specific to thesuppliesmap.com or its industry at this time.</p>
    
    <p>By using thesuppliesmap.com, you acknowledge that you have read, understood, and agree to be bound by these terms and conditions.</p>
</div>
<br>
<div class="logo-container">
    <img src="{{ url_for('static', filename='img/terms-and-conditions/atlas-black.png') }}" id="logo">
</div>
<br>
{% endblock %}